﻿body
{
font-family:Verdana, Arial, Helvetica, sans-serif;
}

.hint
{
text-align:center;
border:solid 1px #000000;
background-color:#FFFFC6;
color:#000000;
}

.form {

}

.fieldset
{
padding-top:10px;
padding-bottom:10px;
border:dotted 1px #000000;
padding-left:10px;
}


/* ÁREA DE LEGENDAS */

.legenda1 {
color:#FF6600;
font-weight:bold;
padding-left:30px;
padding-top:10px;
background-color:#FFFFFF;
background-image:url(../imgs/UniversalBinary.png);
background-repeat:no-repeat;
background-attachment:scroll;
background-position:left;
}

.legendaUser{
color:#9999FF;
font-weight:bold;
padding-left:30px;
padding-top:10px;
background-color:#FFFFFF;
background-image:url(../imgs/User.png);
background-repeat:no-repeat;
background-attachment:scroll;
background-position:left;
}
/* AREA DE LEGENDAS */


/* AREA DE LABELS */

.label {
	font-size:14px;
	font-weight: bold;
	
}

.subtitulo{
font-weight:bold;
letter-spacing:2px;
}

.label2 {
	font-size:14px;
	font-weight:bold;
	
}
.label2:hover {
	font-size:14px;
	font-weight: bold;
	color:#F00;
}

/*  FIM AREA DE LABELS */


/* AREA DE INPUTS */
.input {
	margin-bottom: 10px;
}

.input2 {
	margin-bottom: 10px;
	padding-left:23px;
	height:20px;
	vertical-align:text-top;
	background-image:url(../imgs/inputs/BackupGreenButton.png) ;
	background-repeat:no-repeat;
	background-position:left;
}

.input3 {
	margin-bottom: 10px;
	padding-left:23px;
	height:20px;
	vertical-align:text-top;
	background-image:url(../imgs/inputs/History.png) ;
	background-repeat:no-repeat;
	background-position:left;
}
/* FIM AREA DE INPUTS */


.inputdate{
	margin-bottom: 10px;
	padding-left:5px;
	padding-right:15px;
	height:20px;
	vertical-align:text-top;
}


