﻿body
{
font-family:Verdana, Arial, Helvetica, sans-serif;
}


.form {

}

.fieldset{
background-color:#999999;
color:#FF0000;

}


/* ÁREA DE LEGENDAS */

.legenda1 {
color:#9999FF;
font-weight:bold;
padding-left:30px;
padding-top:10px;
background-image:url(../imgs/UniversalBinary.png);
background-repeat:no-repeat;
background-attachment:scroll;
background-position:left;
}

.legendaUser{
color:#9999FF;
font-weight:bold;
padding-left:30px;
padding-top:10px;
background-image:url(../imgs/User.png);
background-repeat:no-repeat;
background-attachment:scroll;
background-position:left;
}


/* AREA DE LEGENDAS */

label {
	font-size:14px;
	font-weight: bold;
}

.input {
	margin-bottom: 10px;
}
