<div id="navBar">
  <div id="search">Menu</div>
  <div id="sectionLinks">
    <ul>
      <li><a href="configuracoes.php">Configuration</a></li>
	  <li><a href="escolherBanco.php">Databases </a></li>
      <li><a href="listaTabelas.php">Tables</a></li>       
    <!--  <li><a href="criarRelacionamentos.php">Relationships</a></li> --> 
      <li><a href="javascript:void(0);" onclick="ConfirmGerar();">Create/Update the classes </a></li>     
    </ul>
  </div>
  <div id="headlines"></div>
</div>