<div id="masthead">
  <h1 id="siteName">ORM Class Generator  </h1>
</div>
<script type="text/javascript" src="js/scripts.js"></script>
<script type="text/javascript" src="formMaker/js/jquery.js"></script>
<script type="text/javascript" src="formMaker/js/ui.datepicker.js"></script>
<script type="text/javascript" src="formMaker/js/scripts.js"></script>
